.ul-resume {
    list-style-type: circle;
    /* display: block;
    float:left; */
   
}
.resume-containers {
    align-content: center;
    display: flex;
    flex-direction: column;
   margin: auto
}

.resume-list {
    display:flex;
    justify-content: center;
    align-content: center;
    
    
    width:50%; 
    border: 3px solid grey;
    margin: auto;

    margin-bottom: 5%;
}
.resume-box {
    /* display: flex; */
    /* background:linear-gradient(90deg, #28313B 0%,  #485461 100%); */
    /* justify-content: start; */
    /* width:70%; */
    text-align: center;
    margin:auto;
    /* color:white; */
    background-color: white;
}


.resumeButton{
    border:none;
    background: none;
    border-radius: 10px;
    font-size: 25px;
    margin-left: 2%;
    margin-bottom: 2%;
    color: blue
}
