.ul-resume {
    list-style-type: circle;
    /* display: block;
    float:left; */
   
}
.resume-list {
    display:flex;
    
    
    width:50%; 
    border: 3px solid grey;
    

    margin-bottom: 5%;
}
.resume-box {
    /* display: flex; */
    /* background:linear-gradient(90deg, #28313B 0%,  #485461 100%); */
    /* justify-content: start; */
    /* width:70%; */
    margin:auto;
    /* color:white; */
}

.resumeButton{
    border:none;
    background: none;
    border-radius: 10px;
    font-size: 25px;
    margin-left: 2%;
    margin-bottom: 2%;
    color: blue
}
