
/* @import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Caveat&family=Fasthand&display=swap'); */

header{
    height: 75vh;
    /* background:linear-gradient(90deg, #7F8C8D 0%,  #D3D3D3 100%); */
     background-image: url("../../images/background1.png");
    background-size: cover;
    border-bottom: 5px solid #030004;
    background-attachment: fixed;
    
   
}
.header-name{
    text-align: center;
    font-weight: 200px;
    font-size: 75px;
    
    
}
.name-link {
    text-decoration: none;
    color: white;
}
.nav-container {
    text-align: center;
}
.ul-nav {
    list-style-type: none;
    display: inline-block;
    /* margin-left: 50px; */
    
}
.li-nav {
    float: left;
   
}
.a-nav {
    /* display: block; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;

}
li a:hover {
    background-color:linear-gradient(90deg, #28313B 0%,  #485461 100%);
}

.active {
    background-color: #28313B;
}