.home-body{
    /* background-image: url("../../../images/background1.png");
    background-size: cover;
    height: 75vh; */
    /* height: 10vh; */
}
.home-name {
    text-align: center;
    font-weight: 200px;
    font-size: 75px;
    color: white;
}
.home-nav-container {
   
    text-align: center;
}
.home-nav-ul {
    list-style: none;
    color: white;
    font-size: 30px;
    display: inline-block;
}
.home-nav-li {
    float: left;
    padding: 10px;
  
    
}
.li-home-nav {
text-decoration: none;
color: white;
}


