
  @import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Caveat&family=Fasthand&family=Noto+Sans+Vithkuqi&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans Vithkuqi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  linear-gradient(90deg, #e0dfdef4 0%,  #aaa9a9 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
